.box-pokemon-content {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;

  margin: 20px 40px;
}

.box-pokemon {
  width: auto;
  height: 125px;
  background-color: #1D1D1D;
  color: #fff;
  margin: 5px;
  padding: 10px;
  border-radius: 12px;

  display: flex;
  flex-direction: row;
}

.img-pokemon {
  width: 150px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.081);
  padding: 5px;
}

.name-pokemon {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px black;
  font-weight: bold;
}