.box-pokemon-content {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;

  margin: 20px 40px;
}

.box-pokemon {
  width: auto;
  height: 125px;
  background-color: #1D1D1D;
  color: #fff;
  margin: 5px;
  padding: 10px;
  border-radius: 12px;

  display: flex;
  flex-direction: row;

  overflow: hidden;
  position: relative;
}

.img-pokemon {
  width: 150px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.049);
  padding: 5px;
}

.name-pokemon {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px black;
  font-weight: bold;
}

.content-pokebola {
  position: absolute;
  right: -20px;
  bottom: -30px;
}

.background-pokebola {
  position: relative;
  width: 170px;
  opacity: 0.3;
  transform: rotate(-30deg);
}

.id-pokemon {
  position: absolute;
  top: 43%;

  width: 100%;
  text-align: center;

  font-weight: bold;
  text-shadow:
    rgba(0, 0, 0, 0.465) 1px -1px 1px, 
    rgba(0, 0, 0, 0.465) -1px 1px 1px, 
    rgba(0, 0, 0, 0.465) 1px 1px 1px, 
    rgba(0, 0, 0, 0.465) -1px -1px 1px
}
