.box-pokemon-content {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;

  margin: 20px 40px;
}

.content-pokemon-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-pokemon {
  width: auto;
  height: 125px;
  background-color: #1D1D1D;
  color: #fff;
  margin: 5px;
  padding: 10px;
  border-radius: 12px;

  display: flex;
  flex-direction: row;

  overflow: hidden;
  position: relative;
}

.img-pokemon {
  width: 120px;
  height: 100px;
  /* background-color:rgba(255, 255, 255, 0.097);
  border-radius: 50px; */
  padding: 5px;

  margin-bottom: 5px;
}

.name-pokemon {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px black;
  font-weight: bold;

  margin-top: 5px;
}

.content-pokebola {
  position: absolute;
  right: -20px;
  bottom: -30px;
}

.background-pokebola {
  position: relative;
  width: 170px;
  opacity: 0.3;
  transform: rotate(-30deg);
}

.id-pokemon {
  position: absolute;
  top: 43%;

  width: 100%;
  text-align: center;

  opacity: .7;
  font-size: 12pt;
  font-weight: bold;
  text-shadow:
    rgba(0, 0, 0, 0.465) 1px -1px 1px, 
    rgba(0, 0, 0, 0.465) -1px 1px 1px, 
    rgba(0, 0, 0, 0.465) 1px 1px 1px, 
    rgba(0, 0, 0, 0.465) -1px -1px 1px
}

@media(min-width: 1200px) {
  .box-pokemon-content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
  
    margin: 20px 40px;
  }
}

@media(max-width: 1000px) {
  .box-pokemon-content {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
  
    margin: 20px 40px;
  }
}

@media(max-width: 680px) {
  .box-pokemon-content {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
  
    margin: 20px 40px;
  }

  .box-pokemon {
    width: 300px !important;
    justify-self: center;
  }
}