@media(min-width: 1800px) {
  .box-pokemon-content {
    grid-template-columns: 25% 25% 25% 25% !important;
  }
}

@media(max-width: 1300px) {
  .box-pokemon-content {
    grid-template-columns: 50% 50% !important;
  }
}

@media(max-width: 915px) {
  .box-pokemon-content {
    grid-template-columns: 100% !important;
  }

  .box-pokemon {
    min-width: 380px !important;
    justify-self: center;
  }

  .pokedex {
    width: 100%;
    min-width: 370px;
  }
}